@{
    ViewBag.Title = "Employee Asset Management"; }
@Styles.Render("~/bundles/styles/gridmaterialthemecss")

<div id="employee-asset">
    <div class="container">
        <div class="row">
            <h3>Employee Asset List</h3>
            <div id="employee-grid"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/ej.grid.all_15.min.js"></script>
<script src="~/Scripts/AssetManagement/EmployeeDetails.js"></script>


