<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stack Multipurpose HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site Description Here">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/font-rubiklato.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700%7CRubik:300,400,500" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class=" ">
    <a id="start"></a>
    <div class="nav-container ">
        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-2">
                        <a href="index.html">
                            <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                            <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                        </a>
                    </div>
                    <div class="col-xs-9 col-sm-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        <!--end bar-->
        <nav id="menu1" class="bar bar--sm bar-1 hidden-xs ">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-2 hidden-xs">
                        <div class="bar__module">
                            <a href="index.html">
                                <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                                <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                            </a>
                        </div>
                        <!--end module-->
                    </div>
                    <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <ul class="menu-horizontal text-left">
                                <li class="dropdown">
                                    <span class="dropdown__trigger">Home</span>
                                    <div class="dropdown__container">
                                        <div class="container">
                                            <ul>
                                                <li>
                                                    <a href="/member/logff">
                                                        Logout
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--end dropdown container-->
                                </li>
                            </ul>
                        </div>
                        <!--end module-->
                        <div class="bar__module">
                            <a class="btn btn--sm type--uppercase" href="#">
                                <span class="btn__text">
                                    Try Builder
                                </span>
                            </a>
                            <a class="btn btn--sm btn--primary type--uppercase" href="#">
                                <span class="btn__text">
                                    Buy Now
                                </span>
                            </a>
                        </div>
                        <!--end module-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </nav>
        <!--end bar-->
    </div>
    <div class="main-container">
        <section class="cover height-50 imagebg" data-overlay="3">
            <div class="background-image-holder">
                <img alt="background" src="img/political-1.jpg" />
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="h1--large">
                            Putting people first.
                        </h1>
                        <a class="btn btn--primary type--uppercase" href="#">
                            <span class="btn__text">
                                View Our Agenda
                            </span>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="unpad elaborate-form-1">
            <div class="row row--gapless">
                <div class="col-sm-6 height-50 bg--primary">
                    <div class="pos-vertical-center clearfix">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <span class="h1">Join the Campaign.</span>
                            <p class="lead">
                                Join our campaign to make our country a farer, more just place for all citizens.
                            </p>
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type="email" name="email" placeholder="Email Address" />
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <input type="text" name="zip" placeholder="ZIP code" />
                                    </div>
                                    <div class="col-sm-5 col-xs-6">
                                        <button type="submit" class="btn btn--primary-1">Next</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 height-50 bg--primary-1">
                    <div class="pos-vertical-center clearfix">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <span class="h1">Then donate.</span>
                            <p class="lead">
                                Our grass-roots campaign relies on the contributions of passionate patriots like you.
                            </p>
                            <form>
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="input-radio input-radio--innerlabel">
                                            <label>$5</label>
                                            <div class="inner"></div>
                                            <input type="radio" name="donate" value="5" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="input-radio input-radio--innerlabel">
                                            <label>$15</label>
                                            <div class="inner"></div>
                                            <input type="radio" name="donate" value="15" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="input-radio input-radio--innerlabel">
                                            <label>$25</label>
                                            <div class="inner"></div>
                                            <input type="radio" name="donate" value="25" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="input-radio input-radio--innerlabel">
                                            <label>$100</label>
                                            <div class="inner"></div>
                                            <input type="radio" name="donate" value="100" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-xs-12">
                                        <button type="submit" class="btn btn--primary">Act Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="space--sm unpad--bottom switchable switchable--switch text-center testimonial testimonial-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-5">
                        <img alt="Image" src="img/avatar-large-2.png" />
                    </div>
                    <div class="col-sm-6">
                        <div class="switchable__text">
                            <blockquote>
                                <br class="hidden-xs hidden-sm" /> &ldquo;I want a political party that isn't afraid to stand up and fight for equality, that's why I'm voting Stack this October&rdquo;
                            </blockquote>
                            <h5>Tania Briggs</h5>
                            <span>Stonnington Resident</span>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="text-center bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-8">
                        <h2>Key Policy Areas</h2>
                        <p class="lead">
                            Stack's visual style is simple yet distinct, making it an ideal starting point for your project whether it be a basic marketing site, or multi-page company presence.
                        </p>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature feature-4 boxed boxed--lg boxed--border box-shadow">
                            <h4>Fairness &amp; Equality</h4>
                            <hr>
                            <p>
                                With rich modal and notification functionality and a robust suite of options, Stack makes building feature-heavy pages simple and enjoyable.
                            </p>
                            <a class="btn btn--primary-2" href="#">
                                <span class="btn__text">
                                    Learn More
                                </span>
                            </a>
                        </div>
                        <!--end feature-->
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-4 boxed boxed--lg boxed--border box-shadow">
                            <h4>Environmental Sustainability</h4>
                            <hr>
                            <p>
                                Drastically reduce the time it takes to move from initial concept to production-ready with Stack and Variant Page Builder. Your clients will love you for it!
                            </p>
                            <a class="btn btn--primary-2" href="#">
                                <span class="btn__text">
                                    Learn More
                                </span>
                            </a>
                        </div>
                        <!--end feature-->
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-4 boxed boxed--lg boxed--border box-shadow">
                            <h4>Innovation &amp; Leadership</h4>
                            <hr>
                            <p>
                                Our customers love the comfort that comes with six-months free support. Our dedicated support forum makes interacting with us hassle-free and efficient.
                            </p>
                            <a class="btn btn--primary-2" href="#">
                                <span class="btn__text">
                                    Learn More
                                </span>
                            </a>
                        </div>
                        <!--end feature-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="switchable feature-large">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="video-cover border--round box-shadow-wide">
                            <div class="background-image-holder">
                                <img alt="image" src="img/political-2.jpg" />
                            </div>
                            <div class="video-play-icon"></div>
                            <iframe src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                        <!--end video cover-->
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <div class="switchable__text">
                            <h2>Our vision is for an inclusive and prosperous nation.</h2>
                            <p class="lead">
                                Launching an attractive and scalable website quickly and affordably is important for modern startups &mdash; Stack offers massive value without looking 'bargain-bin'.
                            </p>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="switchable">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-5">
                        <div class="switchable__text">
                            <h2>Follow us for campaign news and policy announcements</h2>
                            <p class="lead">
                                Launching an attractive and scalable website quickly and affordably is important for modern startups &mdash; Stack offers massive value without looking 'bargain-bin'.
                            </p>
                            <a class="btn btn--icon bg--twitter" href="#">
                                <span class="btn__text">
                                    <i class="socicon socicon-twitter"></i>
                                    Visit @mrareweb on Twitter
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="tweets-feed tweets-feed-1 bg--secondary" data-feed-name="mrareweb" data-amount="3"></div>
                    </div>
                </div>
                <!--end row-->
            </div>
            <!--end of container-->
        </section>
        <section class="bg--primary unpad cta cta-2 text-center">
            <a href="#">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Stand up for change.</h2>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </a>
        </section>
        <footer class="space--sm footer-2 bg--dark ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-xs-6">
                        <h6 class="type--uppercase">Company</h6>
                        <ul class="list--hover">
                            <li>
                                <a href="#">About Company</a>
                            </li>
                            <li>
                                <a href="#">Our Team</a>
                            </li>
                            <li>
                                <a href="#">Locations</a>
                            </li>
                            <li>
                                <a href="#">History</a>
                            </li>
                            <li>
                                <a href="#">Work With Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-6">
                        <h6 class="type--uppercase">Developers</h6>
                        <ul class="list--hover">
                            <li>
                                <a href="#">Developer Center</a>
                            </li>
                            <li>
                                <a href="#">API Reference</a>
                            </li>
                            <li>
                                <a href="#">Downloads</a>
                            </li>
                            <li>
                                <a href="#">Tools</a>
                            </li>
                            <li>
                                <a href="#">Developer Blog</a>
                            </li>
                            <li>
                                <a href="#">Developer Forums</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-6">
                        <h6 class="type--uppercase">Support</h6>
                        <ul class="list--hover">
                            <li>
                                <a href="#">Help Center</a>
                            </li>
                            <li>
                                <a href="#">Live Chat</a>
                            </li>
                            <li>
                                <a href="#">Downloads</a>
                            </li>
                            <li>
                                <a href="#">Press Kit</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-6">
                        <h6 class="type--uppercase">Locations</h6>
                        <ul class="list--hover">
                            <li>
                                <a href="#">Melbourne</a>
                            </li>
                            <li>
                                <a href="#">London</a>
                            </li>
                            <li>
                                <a href="#">New York</a>
                            </li>
                            <li>
                                <a href="#">San Francisco</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-sm-6">
                        <span class="type--fine-print">
                            &copy;
                            <span class="update-year"></span> Stack Inc.
                        </span>
                        <a class="type--fine-print" href="#">Privacy Policy</a>
                        <a class="type--fine-print" href="#">Legal</a>
                    </div>
                    <div class="col-sm-6 text-right text-left-xs">
                        <ul class="social-list list-inline list--hover">
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-google icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-twitter icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-facebook icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-instagram icon icon--xs"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </footer>
    </div>
    <!--<div class="loader"></div>-->
    <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
        <i class="stack-interface stack-up-open-big"></i>
    </a>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/flickity.min.js"></script>
    <script src="js/easypiechart.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/typed.min.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/ytplayer.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/granim.min.js"></script>
    <script src="js/jquery.steps.min.js"></script>
    <script src="js/countdown.min.js"></script>
    <script src="js/twitterfetcher.min.js"></script>
    <script src="js/spectragram.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>